.reveal pre code {
	padding-left: 1em;
}

.reveal table {
	margin: 0 auto;
}

.reveal table td {
	padding-right: 1em;
}

.reveal h3 {
	margin-bottom: 1em;
}

.reveal section.title-page img {
	border: 0;
	width: 50%;
	margin-bottom: 75px;
}

.reveal p {
	margin: 1em 0;
}

.reveal li {
	margin-bottom: .25em;
}

/****************
 * Pretty Styling
 * ***************/

.individually {
	color: #BF4E49;
}

.reveal footer{
	color: #86A89F;
	position: fixed;
	height: 40px;
	width: 100%;
	bottom: 12px;
	padding: 0 5px;
	left: 0;
	z-index: 10;
	font-size: .8em;
	text-align:right;
	background-image: url(../images/watermark-logo-2.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
 transition: background-image .45s ease-in-out;
 -moz-transition: background-image .35s ease-in-out;
 -webkit-transition: background-image .25s ease-in-out;
}

.reveal footer:hover {
	background-image: url(../images/pink-logo.png);
}

span.footer-title {
	font-size: .5em;
}

.reveal .controls {
	bottom: 38px;
}

.reveal section.title-page h5 {
	color: #86A89F;
	font-size: .6em;
	padding-top: 25px;
}

.reveal section :not(h1,h2,h3,h4,h5) {
	text-align:left !important;
}

.reveal section img.thumbnail {
	width: 150px;
	height: 150px;
	background-size: cover;
    background-position: top;
}

.reveal section img.thumbnail.paige-intro {
	background-image: url(../images/paige_image.jpg);
}

.reveal section p.caption {
	color: #EBAC9D;
	font-weight:900;
	font-size: 24px;
	margin:0;
}
